body{
    font-family: "Poppins", sans-serif;;
}
.container4{

    grid-template-columns: auto auto auto;

}
.img-container{
    display: flex;
}


.img-container>img{
    width:20px;
    display: flex;
}
.boxone{
    border:1px solid rgba(128, 128, 128, 0.329);
    padding:20px;
  

}
.container4{
display: flex;
gap:40px;
text-align: center;
margin-top:100px;
}